<?xml version="1.0"?>
<!-- OpenManipulator Chain -->
<robot name="open_manipulator_x" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- 런치 인자 선언 -->
  <xacro:arg name="use_fake_hardware" default="true" />

  <!-- ============================= -->
  <!-- Include 필요한 xacro -->
  <!-- ============================= -->
  <xacro:include filename="$(find my_omx_description)/urdf/manipulator.urdf.xacro" />
  <xacro:include filename="$(find my_omx_description)/ros2_control/my_omx_system.ros2_control.xacro" />

  <!-- ============================= -->
  <!-- 매크로 호출 (모델 + ros2_control) -->
  <!-- ============================= -->
  <!-- 로봇 링크/조인트 정의 -->
  <xacro:open_manipulator_x prefix="" />

  <!-- ros2_control 시스템 연결 -->
  <xacro:my_omx_system
    name="MyOmxSystem"
    prefix=""
    port_name="/dev/ttyUSB0"
    use_fake_hardware="$(arg use_fake_hardware)"
  />

  <!-- ============================= -->
  <!-- World 프레임 고정 -->
  <!-- ============================= -->
  <link name="world" />

  <joint name="world_fixed" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="world" />
    <child link="link1" />
  </joint>


</robot>